SENDGRID_API_KEY=
CONTACT_FROM_EMAIL=kartikkale03@gmail.com
CONTACT_TO_EMAIL=kartikkale03@gmail.com
MEDIUM_USERNAME=kartikkale03
ALLOWED_ORIGINS=http://localhost:5173
ANALYTICS_LOG_PATH=./analytics.jsonl
ANALYTICS_USER=admin
ANALYTICS_PASS=changeme
